/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
  --color-menu: #353430;
  --color-decor: #FF8DCB;
  --color-corner: #353430;
  --color-shadow: #ff0070;
  --color-accent-title: #FFC2E6;
  --color-accent-text:  #353430;
  --color-accent-theme: #353430;
  --color-text-theme: #353430;
}
