/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 10px;
  font-family: var(--font-text);
  font-size: var(--font-size-s);
  font-weight: 400;
  color: var( --color-text-theme);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
}

.rec-point {
  position: absolute;
  top: 10px;
  right: 30px;
  text-transform: uppercase;
  color: var(--color-decor);
}

.rec-point::after {
  position: relative;
  top: -2px;
  right: -12px;
  content: "";
  font-family: var(--font-text);
  display: inline-block ;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--color-decor);
  box-shadow: 0 0 4px 2px #ff0070;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--color-corner) ;
  border-top: 1px solid var(--color-corner) ;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--color-corner) ;
  border-bottom: 1px solid var(--color-corner) ;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button{
  height: 26px;
  width: 70px;
  padding: 0 13px;
  text-align: center;
  color: var(--color-menu);
  text-transform: lowercase;
  border: 1px solid transparent;
  background: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--color-menu);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-menu);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-menu);
  pointer-events: none;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--color-accent-title);
  text-shadow: 4px 4px 0 var(--color-shadow);
}

.text-title {
  width: 100%;
  min-width: 355px;
  font-weight: 700;
  line-height: 130%;
  color: var(--color-accent-text);
  justify-self: end;
}

.title-decor {
  background-color: var(--color-decor);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
}

.question-answer {
  display: grid;
  gap: 20px;
}

.accent-title {
  display: flex;
  color: var(--color-accent-theme);
  font-size: var(--font-size-s);
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  color: var(--color-accent-text);
  font-weight: 700;
  font-size: var(--font-size-s);
}

.card-text {
  padding-top: 10px;
  line-height: 130%;
}

.card-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-shadow);
}

.card-text-link:hover {
  border-block-end: 1px solid var(--color-text-theme);
}

.card-text-link:focus {
  outline: 1px solid var(--color-text-theme);
}

.card-text-link:focus-visible {
  outline: 1px solid var(--color-text-theme);
}

.card-subtitle {
  color: var(--color-accent-text);
  font-weight: 400;
  font-size: var(--font-size-s);
}

.gallery {
  display: flex;
  flex-direction: column;
}

.images {
  display: grid;
  gap: 10px;
  padding-top: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--color-accent-title);
  text-shadow: 2px 2px 0 var(--color-shadow);
}

/* Для экранов 768 */

@media (min-width: 768px) and (max-width: 1023.99px) {
  .page {
    padding: 20px;
  }

  .header {
    gap: 162px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-point {
    top: 21px;
    right: 40px;
  }
  
  .rec-point::after {
    top: -1px;
    right: -11px;
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__theme-menu-list {
    gap: 13px;
  }

  .title {
    position: relative;
    right: 20px;
    padding-top: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_description {
    width: 100%;
    max-width: 364px;
  }
}